/* styles.css */

.text-gradient {
  background: linear-gradient(to right, #d2ac47, #f7ef8a, #ae8625);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 3s ease infinite;
}
